<div class="cnc-roll-dialog">
    <div class="content-wrapper">
        <p>Roll: {{formula}}</p>
        <div><label>Additional Modifier: <input type="number" name="extraMod" value="0"></label></div>
    </div>
</div>